.popup {
  display: flex;
  position: fixed;
  visibility: visible;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.4s;
  pointer-events: none;
}
