.profile__info {
  color: #fff;
  margin: 0 0 0 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
  max-width: 337px;
  align-self: center;
}

@media screen and (max-width: 642px) {
  .profile__info {
    max-width: 282px;
    margin-top: 27px;
    margin-left: 0;
  }
}