.profile__button {
  background-color: transparent;
  justify-self: flex-end;
  align-self: center;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: opacity 0.2s;
}

.profile__button:hover {
  opacity: 0.6;
}